<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
      
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
      
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    
  </head>
  <body ng-app="starter" ng-controller="mainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">ToDo app</h1>
      </ion-header-bar>
      <ion-content>
          <ion-list>
              <ion-item 
                        ng-repeat="t in todo" 
                        on-hold="showContext(todo)" 
                        ng-class="{urgent:todo.urgent, boring:todo.boring}"
                        ng-click="toggleState(todo)"
                        class="item-icon-right">
                    {{ t.id }}
                    {{t.titre}}
                    {{t.desc}}
                <i class="icon ion-ios-settings"></i> 
                <ion-option-button ng-click="deleteTodoById(t.id)" class="button button-assertive">
                    <i class="icon ion-trash-a"></i>  
                </ion-option-button>  
                <ion-option-button ng-click="editTodoById(t)" class="button button-calm">
                    <i class="icon ion-edit"></i>  
                </ion-option-button>
              </ion-item>
              
          </ion-list>
      </ion-content>
      <ion-footer-bar align-title="left" class="bar-positive">
          <div class="buttons">
            <button class="button" ng-click="addToDo()">Ajouter une tache</button>
          </div>
        </ion-footer-bar>
    </ion-pane>
    
  </body>
</html>
